footer
  .container
    p.number +880 135 XXX 00XX
    p.address 21/A Lorem Street, Los Angels
      br
      | California - 1000
    .social
      a.href.face(href="#" alt="#")
      a.href.twit(href="#" alt="#")
      a.href.inst(href="#" alt="#")
      a.href.beha(href="#" alt="#")
      a.href.ball(href="#" alt="#")
    p.end All Right Reserved@ Muslim mhin 2017 
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(src = path.js + "/scripts.min.js")
